.text-sm{
  font-size: small;
}
label.text-input{
  display: flex;
  flex-direction: column;
  font-size: small;
  max-width: 300px;
  margin-bottom: 10px;
}
label.text-input input{
  font-size: medium;
  height: 30px;
  padding: 0 10px;
  border-radius: 8px;
  border: 0.2px solid;
  letter-spacing: 0.8px;
  word-spacing: 1px;
}
.bg-gray{
  background-color: #EFEFEF;
}
.bg-red{
  background-color: rgb(255, 59, 59);
}
.wid-30{
  max-width: 30%;
}
.wid-70{
  max-width: 70%;
}
.text-white{
  color: white;
}
.text-center{
  text-align: center;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}